aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
certifi
cffi
charset-normalizer
colorama
cryptography
datasets
dill
distro
exceptiongroup
ffmpeg-python
filelock
frozenlist
fsspec
future
h11
halo
httpcore
httpx
huggingface-hub
idna
Jinja2
log-symbols
lorem
MarkupSafe
mpmath
msal
multidict
multiprocess
networkx
numpy
Office365-REST-Python-Client
openai
packaging
pandas
pillow
psutil
py-mon
pyaes
pyarrow
pyarrow-hotfix
pyasn1
pycparser
pydantic
pydantic_core
pydub
PyJWT
python-dateutil
python-dotenv
python-telegram-bot
pytz
PyYAML
regex
requests
rsa
six
sniffio
spinners
Telethon
termcolor
tqdm
typing_extensions
tzdata
urllib3
watchdog
xxhash
yarl
